.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-2;
  padding: 1rem 5rem 1rem 3rem;

  &__link {
    display: contents;
    font-size: 1.5em;
  }
}
