.error404 {
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-30%, 0);
  display: flex;
  flex-direction: column;
  text-align: center;

  &__statusCode {
    font-size: 12rem;
    padding-bottom: 1rem;
    color: $color-1;
  }

  &__LinkToHome {
    padding-top: 12rem;
    color: $color-1;
  }

  &__LinkToHome:hover {
    text-decoration: underline;
  }
}
