.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-2;
  padding: 1rem 5rem 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__link {
    display: contents;
    font-size: 1.5em;
  }
}
