.chartradialbar {
  height: 350px;
  background: $color-3;
  border-radius: $border-radius;
  padding: 2rem;

  p {
    padding: 0 1rem;
  }

  .score__infos {
    font-size: 1.5rem;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
