.chartbar {
  /* width: 52rem; */
  height: 20rem;
  background: $color-3;
  border-radius: $border-radius;
  padding: 0.5rem;

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
      font-size: 15px;
    }
  }

  &__points {
    display: flex;
    justify-content: space-between;
    color: #74798c;

    .kg {
      display: flex;
      align-items: center;
      .point {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        background-color: #282d30;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .cal {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      .point {
        width: 10px;
        height: 10px;
        margin: 0 10px;
        background-color: #e60000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }
}
