.chartline {
  height: 350px;
  background: $color-1;
  border-radius: $border-radius;

  p {
    color: $color-3;
    padding: 2rem 1.2rem;
  }

  .custom-tooltip {
    background: $color-4;
    padding: 0.5rem;

    .label {
      color: $color-1;
    }
  }
}
